body {
  margin: 0;
  padding: 0;
  background: url("../../public/images/myNew/ss.jpg") no-repeat;
  background-size: cover;
  font-family: "Poppins", sans-serif;
}
.container {
  display: flex;
  flex-direction: column;
  text-align: center;
  height: 100vh;
  /* background: linear-gradient(135deg, #23d789, #764ba9); */
  color: white;
}
.login-h1 {
  margin-top: 40px;
  color: #569e34;
}

.name-section {
  display: flex;
  flex-direction: row;
  gap: 10px;
}

.lbl-mbtm {
  margin-bottom: 5px;
  font-size: 14px;
  font-weight: bold;
  text-align: left;
  color: #569e34;
}

form {
  margin: 0 auto;
  width: 350px;
  background: linear-gradient(135deg, #0f2027, #203a43, #2c5364);
  padding: 2rem;
  border-radius: 12px;
  box-shadow: 0px 4px 10px rgba(0, 0, 0, 0.1);
  border: 2px;
  animation: fadeIn 0.6s ease-in-out;
}

.inputs {
  text-align: center;
  margin-bottom: 15px;
  width: 0 auto;
  margin-top: 10px;
  font-weight: 600;
  color: white;
}

.inputs input {
  width: 93%;
  padding: 10px;
  border: none;
  border: 1px solid #ccc;
  border-radius: 6px;
  outline: none; /* Removes the default focus outline */
  color: #569e34;
}

.input-field:focus {
  border: 1px solid #569e34;
  box-shadow: 0px 0px 8px rgba(1, 236, 134, 0.4);
}

.input-field::placeholder {
  font-family: "Poppins", sans-serif;

  font-weight: 300;
  font-size: 9;
  letter-spacing: 0.2px;
  color: gray;
  opacity: 0.7;
  line-height: 1.4;
}

.email-field {
  margin-bottom: 10px;
}

.pass-field {
  padding-right: 40px;
}

.eye-icon {
  position: absolute;
  right: 181px;
  top: 275px;
  cursor: pointer;
  color: #569e34;
  font-size: 18px;
  transition: color 0.3s ease;
}

.eye-icon:hover {
  color: #569e34;
}

.sub-btn {
  width: 40%;
  padding: 10px;
  background: #569e34;
  color: white;
  font-weight: bold;
  border: 2px solid #569e34;
  border-radius: 50px;
  cursor: pointer;
  transition: all 0.3s ease-in-out;
}

.sub-btn:hover {
  background: none;
  transition: 0.3s ease-in-out;
  color: #569e34;
  transition: all 0.3s ease-in-out;
  border: 2px solid #569e34;
}
.forgot-register {
  margin-top: 15px;
}

.forgot-link {
  text-decoration: none;
  color: #569e34;
  margin-top: 50px;
}

.register-link {
  text-decoration: none;
  color: #569e34;
}

.forgot-link:hover {
  text-decoration: underline;
  color: #569e34;
  margin-top: 10px;
}

.register-link:hover {
  text-decoration: underline;
  color: #569e34;
}
